<h1>Halaman Login</h1>

<form action="/welcome" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Username Anda">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Password Anda">

    <button>Login</button>
</form>

<form action="/auth/google" method="POST">
    <button>Login With Google</button>
</form>